<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Rocket Form Example</title>
    <!-- <link rel="stylesheet" href="/chota.min.css"> -->
    <style>
      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px 10px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <p>POST /</p>
      <form action="/" method="post" enctype="multipart/form-data">
        <input type="text" name="value"/>
        <br>
        <input type="submit" value="Submit"/>
      </form>
      <p>POST /transaction</p>
      <form action="/api/transaction" method="post">
        <input type="text" name="value"/>
        <input type="datetime-local" name="datetime"/>
        <br>
        <input type="submit" value="Submit"/>
      </form>
    </div>
  </body>
</html>
